<!DOCTYPE>
<html>
<head>
<title>SRI BALA CHANDRA HIGH SCHOOL</title>
    <link rel="icon" type="image" href="templates/school.jpg">
	<style>
		table, th, td {
			border-collapse: collapse;
			border: 1px solid black;
			
		}
		td, th {
			padding: 9px;
		}
		button{
			border-radius:5px;
			border:1px solid rgb(68, 87, 108);
		}
	</style>
</head>
<body style="background-color: rgb(234,224,200);">
	<div >
    <header style="color:rgb(68, 87, 108);padding: 10px;">
    <h1 style="text-align:center;">SRI BALA CHANDRA HIGH SCHOOL</h1>
    </header>
    </div>
    <hr>
	<h3 style="text-decoration:solid;text-align: center;letter-spacing: 2px;color: rgb(68, 87, 101);"><big>T</big>HE <big>S</big>TUDENTS </h3>
	<br>
</body>
</html>